{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [ets_matrix]}.
{escript_main_app, ets_matrix}.
{escript_name, ets_matrix}.
{escript_emu_args, "%%! -smp enable -sname test_escript -pa ebin -I include \n"}.
{escript_shebang, "#!/usr/bin/env escript \n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
